nav{
	display: flex;
}
nav>a{
	display: block;
	width: 400px;
	background-color:rgba(0,0,0,0.2);
	text-align: center;
	box-sizing:border-box;
	padding:20px;
    color:#FFF;
    margin:1px;
    text-decoration:none;
    transition:all 1s ease;
}
nav>a:hover{
	background-color: rgba(255,0,0,0.8);
	color: #FFF000;
	transition:all 1= ease;
}
#ch{
	display:none;
}
#lab{
	width: 30px;
	height: 30px;
	background: linear-gradient(#000 0%,#000 20%,transparent 21%, transparent 40%,#000 41%, #000 60%,transparent 61%,transparent 80%,#000 81%, #000 100%);
	margin:4px;
	display:none;
}
@media all and (max-width: 960px) {
	nav{
		display: block;
		position: absolute;
		left:0;
		right:0;
		transform:translate(-1000px,0);
		transition:all 1s ease;
	}
	nav>a{
		width: auto;
	}
	#ch:checked+nav{
		transform:translate(0,0);
		transition:all 1s ease;

	}
	#lab{
		display:block;
	}
}
  #searchbar{
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 70%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
   input[type=text]:focus {
     width: 80%;
   }
 
  #list{
    font-size:  1.5em;
    margin-left: 90px;
   }
 
.animals{
   display: list-item;    
  } 

  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  h1 {
	font-family: "Montserrat", sans-serif;
  }
  
  p {
	font-family: "Open Sans", sans-serif;
	text-align: justify;
  }
  
  .blue-bg {
	position: fixed;
	background: url(lst-logo.webp);
	background-size: cover;
	background-color: #58aff6;
	top: 0;
	height: 400px;
	width: 100vw;
	z-index: -2;
  }
  
  .white-bg {
	position: absolute;
	top: 0;
	background-color: #fff;
	min-height: 500px;
	margin: 210px 0px;
	width: 100vw;
	height: 1505vh;
	-webkit-transform: skewY(5deg);
			transform: skewY(5deg);
	z-index: -1;
  }
  
  .content {
	position: absolute;
	top: 0;
	margin: 250px 10vw;
	max-width: 60vw;
	background-color: #fff;
  }
  
  .shadow {
	box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3);
  }
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

  * {
	font-family: Roboto;
  }
  
  section {
	width: 100%;
	display: inline-block;
	background: #ccc;
	height: 60vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
  }
  
  .footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
  }
  
  .footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  .footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  
  @media (max-width: 600px) {
	.footer-distributed .footer-left, .footer-distributed .footer-right {
	  text-align: center;
	}
	.footer-distributed .footer-right {
	  float: none;
	  margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
	  line-height: 1.8;
	}
  }